
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Explorium | Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/styles/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!--<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />-->
<!-- Custom Theme files -->
<link href="../static/styles/css/style.css" rel='stylesheet' type='text/css' />
<link href="../static/styles/css/font-awesome.css" rel="stylesheet"> 
<script src="../static/styles/js/jquery.min.js"> </script>
<script src="../static/styles/js/bootstrap.min.js"> </script>
  
<!-- Mainly scripts -->
<script src="../static/styles/js/jquery.metisMenu.js"></script>
<script src="../static/styles/js/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<link href="../static/styles/css/custom.css" rel="stylesheet">
<script src="../static/styles/js/custom.js"></script>
<script src="../static/styles/js/screenfull.js"></script>

		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
			

			
		});

    function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
    }

		</script>


</head>
<body>
<div id="wrapper">
        <nav class="navbar-default navbar-static-top" role="navigation">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <h1> <a class="navbar-brand" href="{{ url_for('index') }}">Explorium</a></h1>         
			   </div>
			 <div class=" border-bottom">
        	<div class="full-left">
        	  <section class="full-top">
				<button id="toggle"><i class="fa fa-arrows-alt"></i></button>	
			</section>
			<form action="{{ url_for('search_city') }}" name="search_box" class="navbar-left-right" method="post" >
              <input type="text"  value="Search Cities..." name="search_box" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Cities...';}">
              <input type="submit" value="" name="search_box" class="fa fa-search">
            </form>
            <div class="clearfix"> </div>
           </div>
     
       
            <!-- Brand and toggle get grouped for better mobile display -->
		 
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="drop-men" >
		        <ul class=" nav_1">
		           
		    		
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class=" name-caret">{{this_username}}<i class="caret"></i></span><img src="../static/styles/images/avt-cat.png" height="55" width="55"></a>
		              <ul class="dropdown-menu " role="menu">
		                <li><a href="{{ url_for('view_profile') }}"><i class="fa fa-user"></i>Edit Profile</a></li>
                    <li><a href="{{ url_for('view_itineraries') }}"><i class="fa fa-user"></i>View Itineraries</a></li>
		                <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Log Out</a></li>
		              </ul>
		            </li>
		           
		        </ul>
		     </div><!-- /.navbar-collapse -->
			<div class="clearfix">
       
     </div>
	  
		    
		    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse" >
                <ul class="nav" id="side-menu">
				
                   <li>
                        <a href="{{ url_for('route') }}" class=" hvr-bounce-to-right"><i class="fa fa-desktop nav_icon "></i><span class="nav-label">Routes</span> </a>
                    </li>
                    <li>
                        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-cog nav_icon"></i> <span class="nav-label">Settings</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{{ url_for('view_itineraries') }}" class=" hvr-bounce-to-right"><i class="fa fa-user nav_icon"></i>View Itineraries</a></li>
                          <li><a href="{{ url_for('view_profile') }}" class=" hvr-bounce-to-right"><i class="fa fa-user nav_icon"></i>Edit Profile</a></li>
                            <li><a href="{{ url_for('logout') }}" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i>Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			</div>
        </nav>
		 <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">
 
 	<!--banner-->	
		    <div class="banner">
		    	<h2>
				<a href="{{ url_for('index') }}">Home</a>
				<i class="fa fa-angle-right"></i>
				<span>Routes</span>
				</h2>
		    </div>
		<!--//banner-->
 	 <!--gallery-->
    <div class="clearfix"> </div>
 	 <div class="container">
    <h1 align="center">Create an Itinerary</h1>
  	<hr>
	<div class="row" >
      <!-- edit form column -->
      <div class="col-md-9 personal-info" >
        <h3>Search Options</h3>
        {% if error %}
          <p><strong>Error:</strong> {{ error }}
        {% endif %}
        
        <form class="form-horizontal" role="form" method="post">
          <div class="form-group">
            <label class="col-lg-3 control-label">City:</label>
            <div class="col-lg-7">
              <input class="form-control" type="text" name="city" placeholder="Your Destination City" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Types of Tourist Spots:</label>
            <div class="col-lg-7">
            <div class="col-lg-6" float = "left">
              <input type="checkbox" name="t_spot" value="amusement_park"> Amusement Park<br>
              <input type="checkbox" name="t_spot" value="aquarium"> Aquarium<br>
              <input type="checkbox" name="t_spot" value="art_gallery"> Art Gallery<br>
              <input type="checkbox" name="t_spot" value="bakery"> Bakery<br>
              <input type="checkbox" name="t_spot" value="bar"> Bar<br>
              <input type="checkbox" name="t_spot" value="book_store"> Book Store<br>
              <input type="checkbox" name="t_spot" value="bowling_alley"> Bowling Alley<br>
              <input type="checkbox" name="t_spot" value="cafe"> Cafe<br>
              <input type="checkbox" name="t_spot" value="campground"> Campground<br>
              <input type="checkbox" name="t_spot" value="casino"> Casino<br>
              <input type="checkbox" name="t_spot" value="clothing_store"> Clothing Store<br>
              <input type="checkbox" name="t_spot" value="poi"> Points of Interest<br>
            </div>
            <div class="col-lg-6" float = "left">
              
              <input type="checkbox" name="t_spot" value="department_store"> Department Store<br>
              <input type="checkbox" name="t_spot" value="lodging"> Lodging<br>
              <input type="checkbox" name="t_spot" value="movie_theater"> Movie Theater<br>
              <input type="checkbox" name="t_spot" value="museum"> Museum<br>
              <input type="checkbox" name="t_spot" value="night_club"> Night Club<br>
              <input type="checkbox" name="t_spot" value="park"> Park<br>
              <input type="checkbox" name="t_spot" value="restaurant"> Restaurant<br>
              <input type="checkbox" name="t_spot" value="shopping_mall"> Shopping Mall<br>
              <input type="checkbox" name="t_spot" value="spa"> Spa<br>
              <input type="checkbox" name="t_spot" value="stadium"> Stadium<br>
              <input type="checkbox" name="t_spot" value="university"> University<br>
              <input type="checkbox" name="t_spot" value="zoo"> Zoo<br>
            </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Number of days visiting:</label>
              <div class="col-lg-7">
                <input type="range" name="rangeInput" min="1" max="7" onchange="updateTextInput(this.value);">
                <input class="form-control" type="text" id="textInput" placeholder="Number of days:">
              </div>
            </div>
            <div class="form-group">
            <label class="col-lg-3 control-label">Maximum Price per Attraction:</label>
            <div class="col-lg-7">
              <input type="radio" name="price" value="1" checked> $<br>
              <input type="radio" name="price" value="2"> $$<br>
              <input type="radio" name="price" value="3"> $$$<br>
              <input type="radio" name="price" value="4"> $$$$<br>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-7">
              <input type="submit" class="btn btn-primary" value="Create Itinerary">
              <span></span>
       <!--        <input type="reset" onClick="window.location.href='localhost/profile.html'" class="btn btn-default" value="Cancel"> -->
            </div>
          </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
	<!--//gallery-->
		<!---->
<div class="copy">
            <p> Author: FortyTwo</p>    </div>
		</div>
		</div>
		<div class="clearfix"> </div>
       </div>
     
<!---->

<!--scrolling js-->
	<script src="../static/styles/js/jquery.nicescroll.js"></script>
	<script src="../static/styles/js/scripts.js"></script>
	<!--//scrolling js-->

</body>
</html>



