
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>

<html>
<head>
<title>Explorium | Signup</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../static/styles/css/style.css" rel='stylesheet' type='text/css' />
<link href="../static/styles/css/font-awesome.css" rel="stylesheet">
<script src="../static/styles/js/jquery.min.js"> </script>
<script src="../static/styles/js/bootstrap.min.js"> </script>
</head>
<body>
	<div class="login">
		<h1><a href="{{ url_for('signup') }}">Explorium</a></h1>

		<div class="login-bottom">
			<h2>Register</h2>
			{% if error %}
      		<p><strong>Error:</strong> {{ error }}
      		{% endif %}


			<form method="post">
			<div class="col-md-6">
				<div class="login-mail">
					<i class="fa fa-user" style="margin-left:2px;margin-right:4px;"></i>
					<input type="text" placeholder="First Name" required="" name="user_firstname">

				</div>

				<div class="login-mail">
					<i class="fa fa-user" style="margin-left:2px;margin-right:4px;"></i>
					<input type="text" placeholder="Last Name" required="" name="user_lastname">

				</div>

				<div class="login-mail">
					<i class="fa fa-user" style="margin-left:2px;margin-right:4px;"></i>
					<input type="text" placeholder="Username" required="" name="user_username">

				</div>

				<div class="login-mail">
					<i class="fa fa-envelope" style="margin-right:4px;"></i>
					<input type="text" placeholder="Email" required="" name="user_email">

				</div>

				<div class="login-mail">
					<i class="fa fa-lock" style="margin-left:2px;margin-right:4px;"></i>
					<input type="password"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                           title="at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                           placeholder="Password"
                           required=""
                           name="user_password">

				</div>

				<div class="login-mail">
					<i class="fa fa-lock" style="margin-left:2px"></i>
					<input type="password" placeholder="Repeated password" required="" name="user_repeat_password">

				</div>



			</div>
			<div class="col-md-6 login-do">
					<label class="hvr-shutter-in-horizontal login-sub">
						<a href="{{ url_for('signup') }}">
						<input type="submit" value="Submit">
						</a>
					</label>
			</div>
			</form>

			<div class="col-md-6 login-do">

					<p>Already in Explorium?</p>
					<label class="hvr-shutter-in-horizontal login-sub">
						<a href="{{ url_for('signin') }}">
						<input type="submit" value="login">
						</a>
					</label>
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
		<!---->
<div class="copy-right">
            
            <p> Author: Team FortyTwo</p>
              </div>
	  
<!---->
<!--scrolling js-->
	<script src="../static/styles/js/jquery.nicescroll.js"></script>
	<script src="../static/styles/js/scripts.js"></script>
	<!--//scrolling js-->
</body>
</html>

